# Backend
PORT=3001
COINVOYAGE_API_KEY=pk_live_lHCLPxP+kUVkOaUSN40gSzb5qBuYZPPw
COINVOYAGE_WEBHOOK_SECRET=whsec_replace_me
DATABASE_PATH=./server/database/transactions.db
FRONTEND_URL=http://localhost:5173

# Frontend (Vite)
VITE_COIN_VOYAGE_API_KEY=pk_live_lHCLPxP+kUVkOaUSN40gSzb5qBuYZPPw
VITE_API_URL=http://localhost:3001
